* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Sections */
.section {
  padding: 120px 50px;
  text-align: center;
}

/* Hero */
.hero h2 {
  font-size: 3rem;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  border-radius: 8px;
}

/* Glass Effect */
.glass {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  margin: 20px;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  background: #334155;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}
